server:
  port: 8080

spring:
  application:
    name: retrocore_mod2_login

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5440/retrocore_mod2}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:123456}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate.format_sql: true

jwt:
  secret: ${JWT_SECRET:dev-secret}
  expiration-minutes: 60
